@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600&display=swap');

.title {
    margin-top: 25px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.25px;
    margin-bottom: 0.5rem;
    color: #111;
    text-align: center;
}