.topFiveContainer {
    background-color: #063849;
    padding-top: 20px;
    border-radius: 10px;
    width: 100%;
    margin-top: 40px;
}

.curretLeader {
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
    color: white
}

.topPlayerCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* aligns items horizontally to the right */
    justify-content: flex-end;
    /* pushes all items to the bottom vertically */
    color: white;
    padding-right: 12px;
    margin-bottom: 0px;
    font-family: 'Bebas Neue', cursive;
    height: 100%;
}

.cardWrapper {
    margin-top: auto;
    margin-bottom: 12px;
}

@media (max-width: 800px) {
    .topPlayerCol {
        padding: 0;
    }
}

.playerRow {
    display: flex;
    align-items: stretch;
    min-height: 200px;
    background-color: #063849;
    /* box-shadow: 0 0 8px rgba(253, 255, 125, 0.4); */
    margin-bottom: 12px;
    padding: 0;
    padding-bottom: 0%;
    border: #ccc 4px solid;
    border-radius: 8px;
}

@media (max-width: 800px) {
    .playerRow {
        display: flex;
        align-items: stretch;
        min-height: 200px;
        background-color: #063849;
        box-shadow: 0 0 8px rgba(253, 255, 125, 0.4);
        margin-bottom: 12px;
        flex-direction: column;
    }
}

.rankCol {
    color: white;
    flex: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
}

.otherPlayersCol {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    /* or a fixed height like 100vh if needed */
}

.avatarCol {
    flex: 1;
    display: flex;
    align-items: self-end;
    justify-content: center;
    padding-bottom: 0;
    background-color: white;

}

.statsCol {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    padding-bottom: 0;
    background-color: white;


}

.avatarCol {
    background-color: white;
}

.avatar {
    /* width: 175px; */
    height: 175px;
    border-radius: 4px;
    /* border: 3px solid #063849; */
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    align-self: center;
    gap: 2px;
    color: #eee;
    font-size: 20px;
    color: #063849
}

.nameCol {
    color: #063849;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px;
    background-color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    text-decoration: none !important;


}

.teamDiv {
    font-size: 30px;
    padding: 12px;

}

.nameCol:visited {
    text-decoration: none !important;

}

.nameCol :active {
    text-decoration: none !important;
}

.nameCol:link {
    text-decoration: none !important;
}

.nameCol:hover a {
    color: #bb6ab3 !important;
    text-decoration: none !important;
}

.nameCol a {
    text-decoration: none !important;
    font-family: 'Bebas Neue', cursive;
}

.nameCol a:hover {
    color: #063849;
    text-decoration: underline !important;
}