@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.statsTable {
    width: 100%;
    border-collapse: collapse !important;
    font-family: 'Arial', sans-serif !important;
    margin-top: 20px;
}

.tableHeader th {
    background-color: #063849 !important;
    color: white !important;
    font-family: 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif !important;
    font-size: 15px !important;
}

.statHeaders {
    font-family: 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif !important;
    font-size: 22px !important;
    margin-top: 30px;
    color: #063849 !important;
    font-weight: bold !important;
}